// import fonts
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap');

// preload button images
body::after {
    position:absolute; width:0; height:0; overflow:hidden; z-index:-1; // hide images
    content:    url(../img/buy-now-orange.svg)
                url(../img/buy-now-brown.svg)
                url(../img/items/lush.png); // load images
}
body::-webkit-scrollbar {
    width: 0.25rem;
}
body::-webkit-scrollbar-track {
    background: #fff;
}
body::-webkit-scrollbar-thumb {
    background: #30a6b4;
}
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font: inherit;
}
*:focus {
    outline: none;
}
html, body {
    height: 100%;
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
    color: $color-body;
    background-color: $color-bg-primary;
}
h1, h2, h3, h4, h5 {
    color: darken($color-body, 5%);
    margin: 0.6rem 0;
}
a {
    color: $color-link;
    text-decoration: none;
    position: relative;
    &:hover, &:focus {
        color: $color-body;
    }
}
header {
    width: 100%;
    margin-top: 4rem;
    text-align: center;
    h1 {
        margin: 0;
    }
}
.wrapper {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100%;
    width: 75%;
    padding: 0 0 2rem 0;
}
main {
    width: 100%;
}
article {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    & > *:first-child {
        margin-right: 0;
    }
}
aside {
    flex: 1 1 200px;
    height: auto;
    margin: 1rem;
}
.side {
    width: 200px;
    height: auto;
    margin: auto 1rem;
}
section {
    flex: 1 1 400px;
    margin: 1rem;
}
.item {
    flex: 1 1 400px;
    position: relative;
    border-radius: 0.2rem;
    border: 0.1rem solid darken($color-bg-secondary, 20%);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    background: radial-gradient(50px 50px at calc(100% - 1.33rem) calc(100% - 1.33rem), darken($color-bg-secondary, 10%) 2.7rem, darken($color-bg-secondary, 20%) 2.75rem, $color-bg-secondary 2.8rem);
    margin: 1rem;
    padding: 1rem;
    a.action {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 3.6rem;
        height: 3.6rem;
        padding: 0;
        text-decoration: none;
        background-image: url(../img/buy-now-orange.svg);
        background-position: right 0 bottom 0;
        background-size: cover;
        &:hover, &:focus {
            background-image: url(../img/buy-now-brown.svg);
        }
    }
}
.error {
    color: $color-error;
    float: right;
    display: block;
}
#paypal-button {
    margin-top: 2rem;
}
@media only screen and (max-width: 900px) {
    .wrapper {
        width: 90%;
    }
}
@media only screen and (min-width: 1258px) {
    .wrapper {
        width: 60%;
    }
}