input[type="text"], input[type="number"], input[type="password"], select {
    width: 100%;
    border-radius: 0.12rem;
    border: 0.1rem solid rgba(117, 96, 66, .5);
    color: $body-color;
    padding: 0.2rem 0.4rem;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    width:100%;
    font-family: inherit;
    font-size: inherit;
    &::placeholder {
        color: lighten($body-color, 20%);
    }
    &:focus {
        transform: scale(1.02, 1.06);
        color: $body-color;
        background-color: lighten($body-color, 50%)
    }
}
.form-submit input, button, .button, input[type="button"], input[type="submit"] {
    width: 100%;
    cursor: pointer;
    background-color: rgba(117, 96, 66, 0.2);
    padding: 0.6em 1.2em;
    border: 0.12em solid $body-color;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 600;
    font-size: 1rem;
    color: $body-color;
    text-align: center;
    transition: all 0.2s;
    &:hover, &:focus {
        color: #FFFFFF!important;
        background-color: rgb(117, 96, 66);
    }
}
.button {
    width: auto;
    font-size: 0.8em;
    & ~ input {
        position: absolute;
        left: -99999rem;
    }
}
.form-item {
    margin-bottom: 1rem;
    position: relative;
    li {
        list-style: none;
    }
    .error {
        position: absolute;
        font-size: 0.6rem;
        padding: 0.1rem;
        border-radius: 0.12rem;
        border: 0.1rem solid rgba(117, 96, 66, .5);
        background-color: white;
        bottom: -0.8rem;
        right: 1rem;
        z-index: 1040;
    }
}
.form-submit {
    width: 100%;
    margin-top: 1rem;
}
.inputsize {
    width: auto;
}
.quantity {
    display: block;
    width: 8rem;
    input {
        display: inline-block;
        -webkit-appearance: none;
        border: none;
        box-shadow: none;
        text-align: center;
        width: 2rem;
        font-size: 16px;
    }
    button {
        display: inline-block;
        width: 2rem;
        height: 1.5rem;
        padding: 0;
        margin: 0;
    }
}
