nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    ul {
        list-style: none;
    }
    a {
        &.active {
            color: $color-body;
        }
    }
    .disabled {
        color: $color-body;
    }
    
}
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 60%;
    padding: 1.5rem 2rem;
    background-color: #FFF;
    z-index: 1030;
    ul {
        transition: width, max-height 300ms, opacity 0ms 300ms;
    }
    li {
        display: inline-block;
    }
    a {
        position: relative;
        display: block;
    }
    a::after {
        content: "";
        position: absolute;
        left: 15%;
        bottom: -0.2rem;
        width: 70%;
        border-bottom: solid 1px;
    }
    .brand {
        margin-right: auto;
        color: $color-body;
        font-weight: 900;
        font-size: 1.2rem;
    }
}
.collapse-state {
    cursor: pointer;
    display: none;
    float: right;
    background-color: white;
    border-radius: 0.2rem;
    font-size: 1.2rem;
    z-index: 1050;
}
.collapse-state + input{
    display: none; /* hide the checkboxes */
}
.collapse-state + input:checked + ul {
    width: 100%;
    max-height: 100px;
    opacity: 1;
    width: auto;
    max-height: 10rem;
}
@media only screen and (max-width: 768px) {
    nav.navbar {
        width: 100%!important;
        ul {
            margin-top: 2rem;
            max-height: 0;
            opacity: 0;
            width: 0;
            max-height: 0;
        }
        .collapse-state {
            display: inline-block;
        }
    }
}