nav {
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 auto;
    display: flex;
    ul {
        list-style: none;
    }
    a {
        &.active {
            color: $color-body;
        }
    }
    .disabled {
        color: $color-body;
    }
}
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 60%;
    padding: 0 1rem;
    border-radius: 0.2rem;
    z-index: 1030;
    ul {
        width: auto;
        margin-left: auto;
        overflow: hidden;
        z-index: 1000;
    }
    a {
        float: right;
        padding: 0.6rem 0.8rem;
        text-transform: uppercase;
        position: relative;
        background-color: $color-bg-secondary;
        border-radius: 0.2rem;
    }
    .brand {
        display: inline-block;
        margin: 0.5rem 0;
        color: $color-body;
        font-size: 1.2rem;
        border-radius: 0.2rem;
    }
}
.collapse-state {
    cursor: pointer;
    display: none;
    margin-left: auto;
    padding: 0.6rem 0.8rem;
    background-color: $color-bg-secondary;
    border-radius: 0.2rem;
    font-size: 1.2rem;
    z-index: 1050;
    i {
        vertical-align: middle;
        transform: rotate(0deg);
        transform-origin: center;
        transition: transform 500ms 700ms;
    }
}
.collapse-state + input {
    display: none; /* hide the checkboxes */
}
input:checked + .collapse-state {
    i {
        transform: rotate(180deg);
        transition: transform 300ms;
    }
    & + ul {
        display: block;
        max-height: 500px;
        transition: max-height 500ms ease-in;
    }
}
@media only screen and (max-width: 768px) {
    nav.navbar {
        width: 100%;
        ul {
            max-height: 0;
            transition: max-height 500ms ease-out;
            flex-basis: 100%;
        }
        .collapse-state {
            display:table-cell;
        }
    }
}