table {
    width: 100%;
}
th, td {
    padding: 1rem 0.5rem;
}
table.invoice {
    & tr:first-child {
        width: 50%;
    }
    & th:first-child {
        text-align: left;
    }
    & td:last-child {
        text-align: right;
    }
}