.mr-auto {
  margin-right: auto;
}

.ml-auto {
  margin-left: auto;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.navbar {
  display: inline-block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 60%;
  z-index: 1030;
}
.navbar ul {
  float: right;
}
.navbar a::after {
  content: "";
  position: absolute;
  width: 70%;
  left: 15%;
  bottom: 0.6rem;
  border-bottom: solid 1px;
}
.navbar .brand {
  display: inline-block;
  color: #917e63;
  font-weight: 900;
  font-size: 1.2rem;
}

nav {
  margin: 0 auto;
  padding: 1.5rem 1rem;
  display: flex;
}
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
nav li {
  display: inline-block;
}
nav a, nav .brand {
  padding: 0.6rem 0.7rem 0.8rem 0.7rem;
  background-color: white;
  border-radius: 0.2rem;
  position: relative;
  line-height: 2rem;
}
nav a.active, nav .brand.active {
  color: #917e63;
}
nav .disabled {
  color: #917e63;
}

.collapse-state {
  cursor: pointer;
  display: none;
  float: right;
  background-color: white;
  border-radius: 0.2rem;
  font-size: 1.2rem;
  padding: 1rem 1rem;
}

.collapse-state + input {
  display: none;
  /* hide the checkboxes */
}

.collapse-state + input:checked + ul {
  display: block;
  float: none;
}

@media only screen and (max-width: 768px) {
  nav.navbar {
    width: 100% !important;
  }
  nav.navbar ul {
    display: none;
  }
  nav.navbar ul li {
    margin-top: 0.4rem;
  }
  nav.navbar .collapse-state {
    display: inline-block;
  }
}
input[type=text], input[type=number], input[type=password], select {
  width: 100%;
  border-radius: 0.12rem;
  border: 0.1rem solid rgba(117, 96, 66, 0.5);
  color: #917e63;
  padding: 0.2rem 0.4rem;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  width: 100%;
  font-family: inherit;
  font-size: inherit;
}
input[type=text]::placeholder, input[type=number]::placeholder, input[type=password]::placeholder, select::placeholder {
  color: #bcb09e;
}
input[type=text]:focus, input[type=number]:focus, input[type=password]:focus, select:focus {
  transform: scale(1.02, 1.06);
  color: #917e63;
  background-color: #fbfaf8;
}

input {
  display: inline-block;
  -webkit-appearance: none;
  border: none;
  box-shadow: none;
}

button, .button, input[type=button], input[type=submit] {
  width: 100%;
  cursor: pointer;
  background-color: rgba(117, 96, 66, 0.2);
  padding: 0.6em 1.2em;
  border: 0.12em solid #917e63;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 600;
  font-size: 1rem;
  color: #917e63;
  text-align: center;
  transition: all 0.2s;
}
button:hover, button:focus, .button:hover, .button:focus, input[type=button]:hover, input[type=button]:focus, input[type=submit]:hover, input[type=submit]:focus {
  color: #FFFFFF !important;
  background-color: #756042;
}

.button {
  width: auto;
  font-size: 0.8em;
}
.button ~ input {
  position: absolute;
  left: -99999rem;
}

.form-item {
  margin-bottom: 1rem;
  position: relative;
}
.form-item li {
  list-style: none;
}
.form-item .error {
  position: absolute;
  font-size: 0.6rem;
  padding: 0.1rem;
  border-radius: 0.12rem;
  border: 0.1rem solid rgba(117, 96, 66, 0.5);
  background-color: white;
  bottom: -0.8rem;
  right: 1rem;
  z-index: 1040;
}

.form-submit {
  width: 100%;
  margin-top: 1rem;
}

.inputsize {
  width: auto;
}

.quantity {
  display: block;
  width: 8rem;
}
.quantity input {
  text-align: center;
  width: 2rem;
  font-size: 16px;
}
.quantity button {
  display: inline-block;
  width: 2rem;
  height: 1.5rem;
  padding: 0;
  margin: 0;
}

table {
  width: 100%;
}

th, td {
  padding: 1rem 0.5rem;
}

table.invoice tr:first-child {
  width: 50%;
}
table.invoice th:first-child {
  text-align: left;
}
table.invoice td:last-child {
  text-align: right;
}

.row {
  display: grid;
  grid-column-gap: 0.5rem;
  grid-template-columns: repeat(12, 1fr);
}

.col-1 {
  grid-column-end: span 1;
}

.col-2 {
  grid-column-end: span 2;
}

.col-3 {
  grid-column-end: span 3;
}

.col-4 {
  grid-column-end: span 4;
}

.col-5 {
  grid-column-end: span 5;
}

.col-6 {
  grid-column-end: span 6;
}

.col-7 {
  grid-column-end: span 7;
}

.col-8 {
  grid-column-end: span 8;
}

.col-9 {
  grid-column-end: span 9;
}

.col-10 {
  grid-column-end: span 10;
}

.col-11 {
  grid-column-end: span 11;
}

.col-12 {
  grid-column-end: span 12;
}

body::after {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  z-index: -1;
  content: url(../img/buy-now-orange.svg) url(../img/buy-now-brown.svg);
}

*, *::before, *::after {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

html, body {
  margin: 0;
  height: 100%;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  color: #917e63;
}

h1, h2, h3, h4, h5 {
  color: #827159;
  margin: 0.6rem 0;
}

a {
  color: #d88b17;
  text-decoration: none;
  position: relative;
}
a:hover, a:focus {
  color: #917e63;
}

header {
  width: 100%;
  margin-top: 7rem;
  text-align: center;
}
header h1 {
  margin: 0;
}

.wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100%;
  width: 75%;
  padding: 0 0 3rem 0;
}

main {
  width: 100%;
}

article {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
article > *:first-child {
  margin-right: 0;
}

aside {
  flex: 1 1 200px;
  height: auto;
  margin: 1rem;
}

.side {
  width: 200px;
  margin: auto 1rem;
}

section {
  flex: 1 1 400px;
  margin: 1rem;
}

.item {
  flex: 1 1 400px;
  position: relative;
  border-radius: 0.12rem;
  border: 0.1rem solid rgba(117, 96, 66, 0.1);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  background: radial-gradient(50px 50px at calc(100% - 1.33rem) calc(100% - 1.33rem), rgba(0, 0, 0, 0.05) 2.7rem, rgba(117, 96, 66, 0.3) 2.75rem, rgba(0, 0, 0, 0) 2.8rem);
  margin: 1rem;
  padding: 1rem;
}
.item a.action {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 3.6rem;
  height: 3.6rem;
  padding: 0;
  text-decoration: none;
  background-image: url(../img/buy-now-orange.svg);
  background-position: right 0 bottom 0;
  background-size: cover;
}
.item a.action:hover, .item a.action:focus {
  background-image: url(../img/buy-now-brown.svg);
}

.error {
  color: cornflowerblue;
  float: right;
  display: block;
}

#paypal-button {
  margin-top: 2rem;
}

@media only screen and (max-width: 900px) {
  .wrapper {
    width: 90%;
  }
}
@media only screen and (min-width: 1258px) {
  .wrapper {
    width: 60%;
  }
}

/*# sourceMappingURL=main.css.map */
