@import "bootstrap/variables";
@import "bootstrap/mixins";

html, body {
    margin:0;
    height:100%;
}
h1, h2, h3, h4, h5, b, label {
    color:darken($body-color, 5%);
}
input::placeholder {
    color:lighten($body-color, 5%);
}
.dwn-nav {
    position:fixed;
    top:0;
    left:0;
    right:0;
    max-width:50%;
    margin:0 auto;
    padding:1rem 0;
    z-index:1030;

    .navbar-brand {
        color:$body-color!important;
    }
    .navbar-brand, .nav-link, .navbar-toggle {
        background-color:white;
        border-radius:0.2rem;
        //border:1px solid rgb(116, 116, 116);
        padding:0.2rem 1rem 0.8rem 1rem;
        text-decoration-line: underline;
        text-underline-offset: 0.5rem;
        text-decoration-style: wavy;
        background-color:white;
    }

    .navbar-nav .nav-item {
        align-self:flex-start;
        padding:0.5rem;
    }
}
main {
    display:flex;
    justify-content:center;
    min-height:100%;
}
.wrapper {
    display:flex;
    align-items: center;
    justify-content:center;
    flex-direction:column;
    max-width:45%;
    padding:6rem 0 3rem 0;
}
img.product {
    width:60%;
    height:auto;
}
.item {
    position:relative;
    border-radius:0.12rem;
    border:0.1rem solid rgba(117, 96, 66, .1);
    box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
    background: radial-gradient(50px 50px at calc(100% - 1.33rem) calc(100% - 1.33rem), rgba(0, 0, 0, 0.05) 2.7rem, rgba(117, 96, 66, .3) 2.75rem, rgba(0, 0, 0, 0) 2.8rem);
    padding:1rem;
    margin:2rem 0;
    a.action {
        position:absolute;
        right:0;
        bottom:0;
        width:3.6rem;
        height:3.6rem;
        padding:0;
        text-decoration:none;
        background-image: url("../img/buy-now-orange.svg");
        background-position: right 0 bottom 0;
        background-size:cover;
        &:hover {
            background-image: url("../img/buy-now-brown.svg");
        }
    }
}
input, select {
    width:100%;
    margin-bottom:0.5rem;
    border-radius:0.12rem;
    border:0.1rem solid rgba(117, 96, 66, .5);
    
}
.inputsize {
    width:auto;
    flex-grow:1;
}
.quantity {
    margin-bottom:0.5rem;
    padding-top:0.1rem;
    width:auto;
    float:left;
    input {
        -webkit-appearance: none;
        border: none;
        text-align: center;
        width: 32px;
        font-size: 16px;
    }
    button {
        padding:0.2rem 0.5rem;
        margin:0;
    }

}

a, .dwn-digital .nav-item .nav-link {
    color:rgb(216, 139, 23)!important;
    &:hover {
        color:$body-color!important;
    }
    &.active {
        color:$body-color!important;
    }
}
#paypal-button {
    margin-top: 1rem;
}
.collapse-state {
    cursor: pointer;
    display: none;
}
.collapse-state + input{
    display: none; /* hide the checkboxes */
}
.collapse-state + input + div {
    display:none;
}
.collapse-state + input:checked + div{
    display:block;
}
button, input[type="button"], input[type="submit"] {
    background-color:rgba(117, 96, 66, 0.2);
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.12em solid $body-color;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:$body-color;
    text-align:center;
    transition: all 0.2s;
    &:hover {
        color:#FFFFFF;
        background-color:rgb(117, 96, 66);
    }
}
@media only screen and (max-width: 768px) {
    .wrapper {
        max-width:80%;
    }
    .dwn-nav {
        max-width:100%;
        padding:2rem;
    }
    .collapse-state {
        display:block;
    }
}