<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}{% endblock %}</title>

    <!-- META -->
    <meta name="viewport" content="width=device-width, initial-scale=1"> <!-- Ensures optimal rendering on mobile devices. -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" /> <!-- Optimal Internet Explorer compatibility -->

    <!-- User Styles -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main-dist.css') }}">
    <!-- FontAwesome Styles (v5.15.3) -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar">
      <a class="brand" href="/">KAIMAN x POSTMAN</a>
      <input id="_1" type="checkbox">
      <label for="_1" class="collapse-state toggle" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-expanded="false" aria-controls="navbar" aria-label="Toggle navigation">
          <i class="fas fa-chevron-down"></i>
      </label>
      <ul>
        <li>
          <a href="{{ url_for('drops') }}">PREORDER</a>
        </li>
        <li>
          <a href="{{ url_for('gallery') }}">GALLERY</a>
        </li>
        {% if 'items' in session and session['items']|length > 0 %}
        <li>
          <a href="{{ url_for('empty') }}">EMPTY CART</a>
        </li>
        <li>
          <a href="{{ url_for('checkout') }}">CHECKOUT ({{ session['items']|length }})</a>
        </li>
        {% endif %}
      </ul>
    </nav>
    <div class="wrapper">
      <main>
        <header>
        <h1>{{ title }}</h1>
        <h2>{{ subtitle }}</h2>
        {% if current_user.is_authenticated %}
          <nav>
            <ul class="mr-auto">
              <li><a href="{{ url_for('admin.create_item') }}">Create Item</a></li>
              <li><a href="{{ url_for('admin.delete_item') }}">Activate/Delete Item</a></li>
            </ul>
            <ul>
              <li><a class="disabled" href="/admin/home">{{ current_user.email }}</a></li>
              <li><a style="color:red!important" href="{{ url_for('admin.logout') }}">Logout</a></li>
            </ul>
          </nav>
        {% endif %}
        {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
          <p style="color:cornflowerblue">{{ message }}</p>
          {% endfor %}
        {% endif %}
        {% endwith %}
        </header>
        
        {% block content %}{% endblock %}
      </main>
    </div>
    <!-- User Scripts -->
    {% block script %}
    {% endblock %}
  </body>
</html>