<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1"> <!-- Ensures optimal rendering on mobile devices. -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" /> <!-- Optimal Internet Explorer compatibility -->
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-light navbar-expand-md dwn-nav">
        <a class="navbar-brand" href="#">KAIMAN x POSTMAN</a>
        <label for="_1" class="collapse-state navbar-toggle collapsed" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-expanded="false" aria-controls="navbar" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </label>
        <input id="_1" type="checkbox">
        <div class="navbar-collapse">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('home') }}">PREORDER</a>
            </li>
          </ul>
        </div>
    </nav>
    <main>
      <div class="wrapper">
        {% if current_user.is_authenticated %}
        <section>
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link disabled" href="">{{ current_user.email }}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('admin.create_item') }}">Create Item</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('admin.delete_item') }}">Delete Item</a>
            </li>
            <li class="nav-item" style="float:right">
              <a class="nav-link" style="color:red!important" href="{{ url_for('admin.logout') }}">Logout</a>
            </li>
          </ul>
        </section>
        {% endif %}
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <section>
            {% for message in messages %}
            <p>{{ message }}</p>
            {% endfor %}
        </section>
        {% endif %}
        {% endwith %}
        
        {% block content %}{% endblock %}
      </div>
    </main>
</body>
{% block script %}{% endblock %}
</html>