{% extends the_template %}
{% block title %}PAYPAL CHECKOUT{% endblock %}
{% block content %}
<section>
  <h3>CHECKOUT</h3>
</section>
<section>
  <h4>Pre-order Details</h4>
  <p id="prices"></p>
</section>
<section>
  <h4>Item Details</h4>
    <div class="quantity">
      <label for="quantity"><i class="fab fa-slack-hash"></i> Quantity</label><br>
      <button class="minus-btn" type="button" name="button">
        <i class="fas fa-sm fa-minus"></i>
      </button>
      <input type="text" id="quantity" name="quantity" value="1" required>
      <button class="plus-btn" type="button" name="button">
        <i class="fas fa-sm fa-plus"></i>
      </button>
    </div>
    <div class="inputsize">
      <label for="sizes"><i class="fas fa-tshirt"></i> Sizes:</label>
      <input type="text" id="sizes" name="sizes" placeholder="Please list desired sizes..." required>
    </div>
</section>
<section>
  <form>
    <h4>Your Details</h4>
    <label for="state"><i class="fas fa-user"></i> Name</label>
    <div class="row">
      <div class="col-6">
        <input type="text" id="firstname" name="firstname" placeholder="First..." required>
      </div>
      <div class="col-6">
        <input type="text" id="lastname" name="lastname" placeholder="Last..." required>
      </div>
    </div>
    <label for="email"><i class="fas fa-envelope"></i> Email</label>
    <input type="text" id="email" name="email" placeholder="Email..." required>
    <label for="adr"><i class="fas fa-map-pin"></i> Address</label>
    <input type="text" id="address" name="address" placeholder="Unit/Number and Street..." required>
    <input class="labeless" type="text" id="country" name="country" placeholder="Country..." required>
    <input class="labeless" type="text" id="city" name="city" placeholder="City...">
    <div class="row">
      <div class="col-6">
        <input class="labeless" type="text" id="state" name="state" placeholder="State..." required>
      </div>
      <div class="col-6">
        <input class="labeless" type="number" id="postcode" name="postcode" placeholder="Postcode..." required>
      </div>
    </div>
    <div id="totalprice" class="w-100 text-end">
      <h5><b>TOTAL:</b></h5><br>
    </div>
    <div id="paypal-button"></div>
  </form>
</section>
{% endblock %}
{% block script %}
<script type="text/javascript">
  var input = document.getElementById('quantity')
  function updateprices() {
    document.getElementById('prices').innerHTML = parseInt(input.value) + ' x {{ item.name}}';
    document.getElementById('totalprice').innerHTML = 
      '<h5><b>TOTAL:</b></h5><h4>' + 
      parseInt({{ item.price }} * input.value) + ' AUD' +
      '</h4>';
  };
  updateprices();
  document.querySelector('.minus-btn').addEventListener('click', function(e) {
    e.preventDefault();
    var value = parseInt(input.value);

    if (value > 2) {
      value = value - 1;
    } else {
      value = 1;
    }

    input.value = value;

    updateprices();
  });

  document.querySelector('.plus-btn').addEventListener('click', function(e) {
    e.preventDefault();
    var value = parseInt(input.value);

    if (value < 4) {
      value = value + 1;
    } else {
      value = 5;
    }

    input.value = value;

    updateprices();
  });
</script>
<script
  src="https://www.paypal.com/sdk/js?client-id=AQVce-IvjMxu3rIQnkQE_6YGkWLKcXS7410E77YClYqRzOd-8xeFg7giN2b6_6usd7OfBH-EAVjcStIE&components=buttons&currency=AUD"> // Required. Replace YOUR_CLIENT_ID with your sandbox client ID.
</script>
<script>
  paypal.Buttons({
    style: {
      layout: 'vertical',
      color:  'black',
      shape:  'rect',
      label:  'paypal'
    },
    fundingSource: paypal.FUNDING.PAYPAL,
    createOrder: function() {
      const formData = new FormData(document.querySelector('form'));
      const fields = Object.fromEntries(formData.entries());
      fields.items = [{
        'id':'{{ item.pk|string }}', 
        'quantity': document.getElementById('quantity').value,
        'sizes': document.getElementById('sizes').value
      }];
      return fetch('/payments/create', {
        method: 'POST',
        headers: new Headers({
          //'Content-Type': 'application/x-www-form-urlencoded'
          'Content-Type': 'application/json'
      }),
        body: JSON.stringify(fields)
      }).then(function(res) {
        return res.json();
      }).then(function(data) {
        return data.id; // Use the key sent by your server's response, ex. 'id' or 'token'
      });
    },
    onApprove: function(data, actions) {
      // This function captures the funds from the transaction.
      return actions.order.capture().then(function(details) {
        // This function shows a transaction success message to your buyer.
        window.location.href = "/payments/reciept?id=" + data.orderID;
      });
    },
  }).render('#paypal-button');
</script>
{% endblock %}