{% extends the_template %}
{% import 'macros.html' as macros %}
{% block title %}DETAILS{% endblock %}
{% block content %}
<article>
  <aside>
    <h3>Pre-order Details</h3>
    {% set grand_total = namespace(value=0) %}
    {% for item in session['items'] %}
    {% set grand_total.value = (grand_total.value + item.total_int) %}
    <p>
      <a href="/delete/{{ item.ref }}/{{ item.sizes }}" class=""><i class="fa fa-trash"></i></a> {{ item.quantity }} x {{ item.name }} <small>({{ item.sizes }})</small> - {{ item.total }}
    </p>
    {% endfor %}
    <div id="totalprice">
      <h4>TOTAL: <b>${{ grand_total.value }} AUD</b></h4>
    </div>
  </aside>
  <section>
    <form action="" method="post" enctype="multipart/form-data">
      {{ form.csrf_token }}
      <h3>Billing/Shipping Details</h3>
      <label for="firstname lastname"><i class="fas fa-mail"></i> Name</label>
      <div class="row">
        <div class="col-6 form-item">

          {{ form.firstname(class_=class_, placeholder="First...") }}

          {% if form.firstname.errors %}
          <span class="error">{{ form.firstname.errors|join(', ') }} <i class="fas fa-arrow-up"></i></span>
          {% endif %}
        </div>
        <div class="col-6 form-item">

          {{ form.lastname(class_=class_, placeholder="Last...") }}

          {% if form.lastname.errors %}
          <span class="error">{{ form.lastname.errors|join(', ') }} <i class="fas fa-arrow-up"></i></span>
          {% endif %}
        </div>
      </div>
      <div class="form-item">
        <label for="email"><i class="fas fa-envelope"></i> Email</label>

        {{ form.email(class_=class_, placeholder="Email...") }}

        {% if form.email.errors %}
        <span class="error">{{ form.email.errors|join(', ') }} <i class="fas fa-arrow-up"></i></span>
        {% endif %}
      </div>
      <div class="form-item">
        <label for="street country city state postcode"><i class="fas fa-map-pin"></i> Address</label>

        {{ form.street(class_=class_, placeholder="Unit/Number and Street...") }}

        {% if form.street.errors %}
        <span class="error">{{ form.street.errors|join(', ') }} <i class="fas fa-arrow-up"></i></span>
        {% endif %}
      </div>
      <div class="form-item">

        {{ form.country(class_=class_, placeholder="Country...") }}

        {% if form.country.errors %}
        <span class="error">{{ form.country.errors|join(', ') }} <i class="fas fa-arrow-up"></i></span>
        {% endif %}
      </div>
      <div class="form-item">

        {{ form.city(class_=class_, placeholder="City...") }}

        {% if form.city.errors %}
        <span class="error">{{ form.city.errors|join(', ') }} <i class="fas fa-arrow-up"></i></span>
        {% endif %}
      </div>
      <div class="row">
        <div class="col-6 form-item">

          {{ form.state(class_=class_, placeholder="State...") }}

          {% if form.state.errors %}
          <span class="error">{{ form.state.errors|join(', ') }} <i class="fas fa-arrow-up"></i></span>
          {% endif %}
        </div>
        <div class="col-6 form-item">

          {{ form.postcode(class_=class_, placeholder="Postcode...") }}

          {% if form.postcode.errors %}
          <span class="error">{{ form.postcode.errors|join(', ') }} <i class="fas fa-arrow-up"></i></span>
          {% endif %}
        </div>
      </div>
      <div>

        {{ macros.formfield(form.pickup) }}

        {% if form.postcode.errors %}
          <span class="error">{{ form.pickup.errors|join(', ') }} <i class="fas fa-arrow-up"></i></span>
        {% endif %}
      </div>
      <div class="form-submit">
        {{ form.submit }}
      </div>
    </form>
  </section>
</article>
{% endblock %}
{% block script %}
{% endblock %}