{% extends the_template %}

{% block content %}
<section>
    <h1>{{ title }}</h1>
</section>
<section>
    <form action="" method="post" enctype="multipart/form-data">
        {% for field in form %}
            {% if field.type in ('StringField', 'TextAreaField', 'PasswordField', 'IntegerField', 'FileField') %}
            <label for="{{ field.id }}"
                class="{% if field.flags.required %}required{% endif %}">
                {{ field.label.text }}
            </label>
            {% endif %}
            {{ field(placeholder=placeholder) }}

            {% if field.errors %}
            <span class="error help-inline" style="color:cornflowerblue">{{ field.errors|join(', ') }}</span>
            {% endif %}
        {% endfor %}
    </form>
</section>
{% endblock %}