{% extends the_template %}
{% import 'macros.html' as macros %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<section>
    <form action="" method="post" enctype="multipart/form-data">
        {% for field in form %}
            {{ macros.formfield(field) }}
        {% endfor %}
    </form>
</section>
{% endblock %}
{% block script %}
<script type="text/javascript">
var fileselected = document.getElementById("file-selected");
var fileinput = document.querySelector("input[type='file']");
fileinput.addEventListener("change", function() {
    var filename="File selected!";
    var file = this.value.split("\\");
    filename = file[file.length - 1];
    fileselected.innerHTML=filename;
})
</script>
{% endblock %}