Hi {{ transaction['name'] }},<br><br>

Thank you for your preorder! Sit tight while we craft your garments with love.<br><br>

Expect an update with a shipping estimate once pre-orders close.<br><br>

Warmest Regards<br><br>

Postman and Kaiman<br><br><br><br>
Please don't hesitate to reply to this email if you have any questions!<br><br><br><br>


<h2>Tax Invoice</h2>
<b>Order Number:<b> {{ invoice }}<br><br>
<b>Shipping Address</b><br>
{{ shipping|safe }}<br><br>

<b>Purchase</b><br>
<table>
  <thead>
    <tr>
      <th><b>Item</b></th>
      <th><b>Sizes</b></th>
      <th><b>Quantity</b></th>
      <th><b>Price</b></th>
      <th><b>Total</b></th>
    </tr>
  </thead>
  <tbody>
  {% for item in transaction['items'] %}
    <tr>
      <td>{{ item['name'] }}</td>
      <td>{{ item['sizes'] }}</td>
      <td>{{ item['quantity'] }}</td>
      <td>{{ item['price'] }}</td>
      <td>{{ item['total'] }}</td>
    </tr>
  {% endfor %}
    <tr>
      <td colspan="5"><h3><b>DUE TODAY: </b>{{ transaction['total'] }}</h3></td>
    </tr>
  </tbody>
</table>