{% extends the_template %}
{% block title %}PREORDER{% endblock %}
{% block content %}
<article>
  <h2 >Pre-Order ends in <span id="countdown">0d 0h 0m 0s (27/08)</span></h2>
</article>
{% for item in items if item.active %}
<article>
  <div class="side">
    <img src="{{ url_for('static', filename=item.img) }}">
  </div>
  <section class="item">
    <h3>{{ item.name }}</h3>
    {{ item.description|safe }}
    <h4>${{ item.price }} AUD</h4>
    <a href="#deetpopup{{item.pk}}" class="action"></a>
  </section>
</article>
<div id="deetpopup{{item.pk}}" class="overlay">
  <div class="popup">
    <a class="close" href="#">&times;</a>
    <form action="/add/{{item.pk}}" method="POST" enctype="multipart/form-data">
      <h3>{{ item.name }} <small><span>($</span><span class="price">{{ item.price }}</span><span>ea)</span></small></h3>
      <div class="quantity form-item">
        <label for="quantity"><i class="fas fa-times"></i> Quantity</label>
        <br>
        <button onclick="" class="minus-btn" type="button" name="button">
          <i class="fas fa-sm fa-minus"></i>
        </button>

        <input name="quantity" placeholder="" required type="text" value="1">

        <button class="plus-btn" type="button" name="button">
          <i class="fas fa-sm fa-plus"></i>
        </button>
      </div>

      <div class="inputsize form-item">
        <label for="sizes"><i class="fas fa-tshirt"></i> Order Options</label>

        <select name="options" placeholder="" required type="text" value="">
          {% for option in item.options %}
            <option value="{{ option }}">{{ option }}</option>
          {% endfor %}
        </select>

      </div>
      <div class="totalprice"><h5>TOTAL: <b>${{item.price}} AUD</b></h5></div>
      <div class="form-submit">

        <input name="submit" type="submit" value="Add to Cart">
        
      </div>
    </form>
  </div>
</div>
{% endfor %}
{% endblock %}
{% block script %}
<script type="text/javascript">
    var end = new Date('08/27/2021 12:00 PM');

    var _second = 1000;
    var _minute = _second * 60;
    var _hour = _minute * 60;
    var _day = _hour * 24;
    var timer;

    function showRemaining() {
        var now = new Date();
        var distance = end - now;
        if (distance < 0) {

            clearInterval(timer);
            document.getElementById('countdown').innerHTML = 'EXPIRED!';

            return;
        }
        var days = Math.floor(distance / _day);
        var hours = Math.floor((distance % _day) / _hour);
        var minutes = Math.floor((distance % _hour) / _minute);
        var seconds = Math.floor((distance % _minute) / _second);

        document.getElementById('countdown').innerHTML = days + 'd ';
        document.getElementById('countdown').innerHTML += hours + 'h ';
        document.getElementById('countdown').innerHTML += minutes + 'm ';
        document.getElementById('countdown').innerHTML += seconds + 's';
    }

    timer = setInterval(showRemaining, 1000);

    var total;
    function updateprices(o) {
      o.querySelector('.totalprice').innerHTML = 
        '<h5>TOTAL:<b> ' + 
        '$' + total + ' AUD' +
        '</b></h5>';
    }
    function minus(e) {
      e = e || window.event;
      e.preventDefault();
      var f = e.target.closest('form');
      var price = parseInt(f.querySelector('.price').innerHTML);

      var input = f.querySelector('input');
      let value = parseInt(input.value);

      if (value > 2) {
        value = value - 1;
      } else {
        value = 1;
      }
  
      input.value = value;

      total = parseInt(f.querySelector('.price').innerHTML * value);

      updateprices(f);
    }

    function plus(e) {
      e.preventDefault();
      let f = e.target.closest('form');
      let input = f.querySelector('input');
      let value = parseInt(input.value);

      if (value < 10) {
        value = value + 1;
      } else {
        value = 5;
      }
  
      input.value = value;
    
      total = parseInt(f.querySelector('.price').innerHTML * value);

      updateprices(f);
    }
    var minusList = document.querySelectorAll('.minus-btn')
    var plusList = document.querySelectorAll('.plus-btn')
    minusList.forEach(
      function(n) {
       n.addEventListener("click", minus.bind(event));
      }
    );
    plusList.forEach(
      function(n) {
       n.addEventListener("click", plus.bind(event));
      }
    );
    
  </script>
{% endblock %}